/* Font Import Links*/
/* Normal Font*/
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&display=swap');
/* Alt Font */
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@500&display=swap');
/*------------------Start of Page*/
.Color_way_01{
	background-color: #f1eaf4
}
.text{
	color: #350973;
	text-align: center;
}
/*---------Start Of Header*/
#Header{
	width: 100%;
	font-family: 'Spectral', serif;
}
#RTF_SVG{
	align-self: center;
}
.navbar-custom .navbar-nav .nav-link{
	color: #350973;
}
.navbar-custom .nav-item:hover .nav-link{
color: #E800FA;
} 
.Biography_Text {
    text-align: center;
	align-self: center;
}
body{
	color: #350973;
	background-color: #e8d6f5;
	font-family: 'Domine', serif;
	
}
a:link {
	color: #CC72F2;
}
a:visited {
	color: #2D1959;
}
a:hover {
	color: #E800FA;
}
a:active {
	color: #e0218a;
}
  
#page-container {
	position: relative;
	min-height: 30vh;
}
  
#content-wrap {
	padding-bottom: 8rem;
}
#Footer{
	font-family: 'Spectral', serif;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 8rem;            
}

/*--------------------End Footer Tag*/
/*---------------------End Of Visual Page*/
